CodeNation/Desafio 2019/train.csv
CodeNation/Desafio 2019/test.csv
CodeNation/Desafio 2019/answer.csv
CodeNation/Desafio 2019/Dicionаrio_Microdados_Enem_2016.xlsx
CodeNation/Desafio 2019/Dicionаrio_Microdados_Enem_2016.ods
CodeNation/Desafio 2018/train.csv
CodeNation/Desafio 2018/test.csv
CodeNation/Desafio 2018/answer.csv
